body{
    background-color: hsl(0, 0%, 8%);
    font-family: 'Inter', sans-serif;
}
.card{
    width: 327px;
    height: 380px;
    background-color: hsl(0, 0%, 12%);
    border: 2px solid hsl(0, 0%, 12%);
    border-radius: 20px; 
    margin: auto;
}
img{
   width:  70px;      
   height: 70px;
   border-radius: 50%;  
   object-fit: cover;
   margin-left: 150px;
   margin-top: 35px;    
}
h2{
    color: hsl(0, 0%, 100%);
    font-weight: 700;
}